<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meus links</title>
    <!-- Link CSS -->
    <link rel="stylesheet" href="/CSS/style.css">
</head>
<body>
    <header>
        <h1>Meus links</h1>
    </header>
    <main>
        <div>
          <input type="text" name="name" id="name" placeholder="Digite o nome:">
          <input type="text" name="link" id="link" placeholder="Digite um link:">
          <br>
          <input type="button" value="Enviar" id="btn">
        </div>
        <div id="res">
          
        </div>
    </main>
    <footer>
        <p>&copy; Henry Thomaz</p>
    </footer>
    <script src="JS/script.js"></script>
</body>
</html>